@import "../../../fonts";

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .font('Montserrat', 26px, 800);

  @media(max-width: 420px){
    .font('Montserrat', 18px, 800);
  }
}