.layout {
  display: flex;
  flex-direction: column;
  position: relative;

  &__section{
    padding-left: 120px;
    padding-right: 120px;
    @media(max-width: 1120px){
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}